*{
    margin: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

:root{
    font-size: 16px;
    --green-background: #252C28;
    --green-background-less-opacity: #252C28AA;
    --white: #ffffff;
    --black: #000000;
    --black-less-opacity: #00000080;
    --dark-gray: #a9a9a9;
    --dark-gray-less-opacity: #a9a9a9AA;
    --gap: 3rem;
}

/* CONTAINER */

#container{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("img/lines-vertical.svg"); 
   
}

#inner-container{
    width: 100%;
    height: 100%;
    position: relative;
   /* background: url("img/verti-yes.svg"); */
    
}

/* HEADER */

header{
    width: 100vw;
    
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}

.logo-nav{
    display: flex;
    width: 50%;
    
}

.logo{
    width: 5rem;
    background-color: white;
    padding: 1rem;
    margin: 0 auto 0 5rem;
}

nav{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
}

#primary-navigation{
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: var(--gap);
    background: hsl(0% 0% 0% / 0.75);
    z-index: 100;
    border-radius: 10px;
}

@supports (backdrop-filter: blur(1rem)){
    #primary-navigation{
        background: hsl(0 0 100% / 1);
        backdrop-filter: blur(1rem);
      
    }
}


@media only screen and (max-width: 500px){

    #primary-navigation{
    position: fixed;
    inset: 0 0 0 30%;
    --gap: 3rem;    
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
       
}


}



#primary-navigation > li {
    list-style: none;
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
}

#primary-navigation > li:hover {
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    border-bottom: var(--green-background-less-opacity);
}

/* main */ 

main{
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* FIRST SCREEN */

#first-screen{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 80;
    background: url("quality/milestone.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 4px 5px black);
}


h1{
    color: white;
    font-family: anisette-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8vw;
    width: 80%;
    height: auto;
    filter: drop-shadow(1px 4px 5px black);
    margin: 8rem auto 2rem auto;
    background-color: var(--black-less-opacity);
    padding: 1rem;
}

.first-screen-btn{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 1rem;
    width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
}

.first-screen-btn:hover{
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
}

/* CATEGORIES */

#categories{
    width: 100vw;
    height: 220vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 81;
    color: var(--white);
    background-color: var(--green-background-less-opacity);
}

h2{
    margin: 0 auto 2rem auto;
    font-family: anisette-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

/* rental */

.rental{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newBack{
    background: url("img/lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: changeBackground;
    animation-duration: 5s; 
    animation-fill-mode: forwards;
}

@keyframes changeBackground {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}


h2{
    margin: 0 auto 2rem auto;
    padding-top: 1rem;
}

.rent-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap; 
    filter: drop-shadow(2px 4px 6px black);

}

.rental-bikini{
    width: 8rem;
    filter: drop-shadow(2px 4px 6px);
}

.rent-ul li{
    list-style: none;
    padding: 1rem;  
    background-color: darkgray;
}

.rental-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rental-bikini:hover + .rental-p{
    color: var(--black);
 }


/* ready */

.ready{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    margin: 0 auto 2rem auto;
}

.ready-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    filter: drop-shadow(2px 4px 6px black);
}

.ready-ul li{
    list-style: none;
    padding: 2rem 1rem 1rem 1rem;
    background-color: darkgray;
}

.ready-bikini{
    width: 8rem;
    filter: drop-shadow(2px 4px 6px);
}

.ready-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ready-bikini:hover + .ready-p{
   color: var(--black);
}


/* accessories */

.accessories{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accessories-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    filter: drop-shadow(2px 4px 6px black);
}

.accessories-img{
    width: 10rem;
    filter: drop-shadow(2px 4px 6px);
}

.accessories-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.accessories-ul li{
    list-style: none;
    padding: 1rem;
}

.accessories-ul li:hover{
    background-color: darkgray;
}



/* ABOUT */

#about{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 80;
    color: var(--white);
    padding: 0.5rem;
    background-color: var(--green-background-less-opacity);
    
}

.norma{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 5rem auto 2rem auto;
    filter: drop-shadow(2px 4px 6px black);
}


.norma-p{
    background-color: var(--black-less-opacity);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 50ch;
    line-height: 1.5;
    font-size: 1rem;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(2px 4px 6px black);
}

/* QUOTES */

#quotes{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 78;
    color: var(--white);
    background-color: var(--green-background-less-opacity);
    
}

.customer-quotes-h2{
    margin: 5rem auto 2rem auto;
    text-align: center;
    max-width: 80%;
    filter: drop-shadow(2px 4px 6px black);
}

.quote-sarah{
    width: 90%;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-less-opacity);
    filter: drop-shadow(2px 4px 6px black);
}

.quote-zina{
    width: 90%;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-less-opacity);
    filter: drop-shadow(2px 4px 6px black);
}

.customer-quotes-p{
    padding: 1rem;
    margin: 0 auto 0rem auto;
    max-width: 20ch;
    line-height: 1.5;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* SUBSCRIPTION */

#subscription{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 80;
    color: var(--white);
    background-color: var(--green-background-less-opacity);
}

.inside-sub{
    max-width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: url("quality/junior.webp");
    background-position: center;
    border-radius: 10px;
    filter: drop-shadow(2px 5px 6px black);
}

.subscription-h2{
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--black-less-opacity);
    font-family: anisette-std, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.subscription-btn{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
}

.subscription-btn:hover{
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
}

/* footer */

footer{
    width: 100%;
    height: 25vh;
    background-color: var(--black-less-opacity);
    color: var(--white);
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 1rem;
}

.logo{
    transform: scale(2);
}

.footer-span{
    font-size: 1rem;
}

/* 500 MEDIA QUERY */

@media only screen and (min-width: 500px){
    
    /* CATEGORIES */

#categories{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 81;
    color: var(--white);

}

h2{
    margin: 0 auto 2rem auto;
    font-family: anisette-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    filter: drop-shadow(2px 4px 6px black);
}

/* rental */

.rental{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}

.rent-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap; 
    filter: drop-shadow(2px 4px 6px black);
}

.rental-bikini{
    width: 14rem;
    filter: drop-shadow(2px 4px 6px);
}

.rent-ul li{
    list-style: none;
    padding: 1rem;  
}

.rental-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.rent-ul li:hover{
    background-color: var(--black);
    cursor: pointer;
}

/* ready */

.ready{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    margin: 0 auto 2rem auto;
}

.ready-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap;
    filter: drop-shadow(2px 4px 6px black);
}

.ready-ul li{
    list-style: none;
    padding: 1rem;
}

.ready-bikini{
    width: 14rem;
    filter: drop-shadow(2px 4px 6px);
}

.ready-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.ready-ul li:hover{
    background-color: darkgray;
}

/* accessories */

.accessories{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accessories-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap;
    filter: drop-shadow(2px 4px 6px black);
}

.accessories-img{
    width: 14rem;
    filter: drop-shadow(2px 4px 6px);
}

.accessories-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.accessories-ul li{
    list-style: none;
    padding: 1rem;
}

.accessories-ul li:hover{
    background-color: darkgray;
}

/* ABOUT */

#about{
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 80;
    color: var(--white);
    padding: 0.5rem;
   /*background-color: var(--green-background);*/
    
}

.norma{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 0rem auto 2rem auto;
    filter: drop-shadow(2px 4px 6px black);
}


.norma-p{
    background-color: var(--black-less-opacity);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    max-width: 55ch;
    line-height: 1.5;
    font-size: 1rem;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(2px 4px 6px black);
}


}


/* 800 MEDIA QUERY */

@media only screen and (min-width: 800px){

    .first-screen-btn{
        font-family: dinosaur, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        color: var(--white);
        background-color: var(--black);
        padding: 1rem 1rem;
        width: 100%;
        margin: 2rem auto;
        border-radius: 10px;
    }


    /* ABOUT */

#about{
    width: 100vw;
    height: 260vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 80;
    color: var(--white);
    padding: 0.5rem;
    
}

.norma{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 5rem auto 2rem auto;
    filter: drop-shadow(2px 4px 6px black);
}

.norma-p{
    background-color: var(--black-less-opacity);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    max-width: 55   ch;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(2px 4px 6px black);
}


/* QUOTES */

#quotes{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 80;
    color: var(--white);
    background-color: var(--green-background-less-opacity);
    
}

.customer-quotes-h2{
    margin: 5rem auto 2rem auto;
    text-align: center;
    max-width: 80%;
    font-size: 2.5rem;
    filter: drop-shadow(2px 4px 6px black);
}

.quote-sarah{
    width: 90%;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-less-opacity);
    filter: drop-shadow(2px 4px 6px black);
}

.quote-zina{
    width: 90%;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-less-opacity);
    filter: drop-shadow(2px 4px 6px black);
}

.customer-quotes-p{
    padding: 1rem;
    margin: 0 auto 0rem auto;
    max-width: 20ch;
    line-height: 1.5;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
   

}


@media only screen and (min-width: 900px){
        /* ABOUT */

#about{
    width: 100vw;
    height: 280vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 80;
    color: var(--white);
    padding: 0.5rem;
    
}
}


@media only screen and (min-width: 1000px){

    /* HEADER */

header{
    width: 100vw;
    height: 15vh;
    
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}


    /* FIRST SCREEN */

#first-screen{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 80;
    background: url("quality-desktop/desktop-bikini4.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


h1{
    color: white;
    font-family: anisette-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    width: 60%;
    height: auto;
    filter: drop-shadow(1px 4px 5px black);
    margin: 8rem auto 2rem auto;
    background-color: var(--black-less-opacity);
    padding: 1rem;
}

.first-screen-btn{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 1rem;
    width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
}

.first-screen-btn:hover{
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
}


    /* CATEGORIES */

#categories{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 81;
    color: var(--white);
    margin: 0 auto;
}

h2{
    margin: 0 auto 2rem auto;
    font-family: anisette-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    padding: 2rem 0;
    filter: drop-shadow(2px 4px 6px black);
}

/* rental */

.rental{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 5rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: none;
}

.rent-ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    height: 100%;
    filter: drop-shadow(2px 4px 6px black);
    border: none;
    margin: 0 auto;
    overflow: hidden;
    white-space:none; 
    align-items: center;
    place-self: center;
    padding: 0;
}

.rental-bikini{
    width: 20rem;
    filter: drop-shadow(2px 4px 6px);
}



.rental-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.rent-ul li{
    background-color: none;
    cursor: pointer;
    border: 2px solid white;
}

/* ready */

.ready{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 2rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ready-h2{
    padding-right: 0.5rem;
}


.ready-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    overflow: none;
    white-space: inherit;
    border: none;
    filter: drop-shadow(2px 4px 6px black);
    padding: 0;
}

.ready-ul li{
    list-style: none;
    padding: 1rem;
}

.ready-bikini{
    width: 20rem;
    filter: drop-shadow(2px 4px 6px);
}

.ready-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.ready-ul li:hover{
    background-color: darkgray;
}

/* accessories */

.accessories{
    width: 90%;
    height: auto;
    text-align: center;
    margin: 2rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.accessories-ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 80%;
    filter: drop-shadow(2px 4px 6px black);
    border: none;
    margin: 0 auto;
    overflow: scroll;
    white-space:none; 
    align-items: center;
    place-self: center;
    padding: 0;
    overflow: hidden;
}

.accessories-img{
    width: 10rem;
    height: auto;
    filter: drop-shadow(2px 4px 6px);
}

.accessories-p{
    padding: 1rem 0;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.accessories-ul li{
    list-style: none;
    padding: 2rem 1rem;
}

.accessories-ul li:hover{
    background-color: darkgray;
}



 /* ABOUT */

 #about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 80;
    color: var(--white);
    padding: 0.5rem;
    position: relative;
}

.backtry{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url("img/lines.svg");
    opacity: 0;
}

.addAnimation{
    animation-name: opacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    0% { opacity: 0;}
    50% { opacity: 0.5;}
    100% { opacity: 1;}
}

.norma{
    width: 30rem;
    height: auto;
    border-radius: 10px;
    margin: 0rem auto 2rem auto;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 100;
}

.norma-p{
    background-color: var(--black-less-opacity);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    max-width: 45ch;
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 100;
}


/* QUOTES */

#quotes{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 80;
    color: var(--white);
    position: relative; 
}

.customer-quotes-h2{
    margin: 5rem auto 2rem auto;
    text-align: center;
    max-width: 80%;
    font-size: 2.5rem;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 100;
}

.quote-sarah{
    width: 70%;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-less-opacity);
    filter: drop-shadow(2px 4px 6px black);
      z-index: 100;
}

.quote-zina{
    width: 70%;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    background-color: var(--black-less-opacity);
    filter: drop-shadow(2px 4px 6px black);
      z-index: 100;
}

.customer-quotes-p{
    padding: 1rem;
    margin: 0 auto 0rem auto;
    max-width: 20ch;
    line-height: 1.5;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
      z-index: 100;
}


/* SUBSCRIPTION */

#subscription{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 80;
    color: var(--white);
    

}

.inside-sub{
    max-width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("quality/junior.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
}

.subscription-h2{
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--black-less-opacity);
    font-family: anisette-std, sans-serif;
    font-weight: 500;
    font-style: normal;
    max-width: 60%;
}

.subscription-btn{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
}

.subscription-btn:hover{
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
}

}

